header {
  font-size: 20px;
  background-color: blue;
}

header button {
  padding: 5px;
  font-size: 14px;
  display: none;
}

header .container {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.ibg > img {
  width: 0px;
  height: 0px;
  font-size: 0px;
}

body {
  padding: 0;
  margin: 0;
}

.modalWin {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 100;
}

.modalContent {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

#modalLogIn {
  display: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}
